@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .center{
    @apply flex justify-center items-center
  }

  .button {
    @apply px-4 py-2 font-Mitr tracking-wide rounded-md shadow-sm duration-500 transition md:text-2xl
  }

  .button--success {
    @apply bg-green-500 hover:bg-green-300 text-[#f9f9f9] active:bg-white focus:outline-none focus:ring focus:ring-white
  }


}

html,
body {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
